<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CK2Modder.UserPreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CK2Modder.UserPreferences>
            <setting name="WorkingLocation" serializeAs="String">
                <value>C:\\Program Files\\Steam\\steamapps\\common\\crusader kings ii</value>
            </setting>
            <setting name="LastMod" serializeAs="String">
                <value />
            </setting>
        </CK2Modder.UserPreferences>
    </userSettings>
</configuration>